div.console_main
    div.container
        div#footer.hidden-xs.hidden-sm.text-muted.col-md-12
            -if(footerInfo && footerInfo.constructor.toString().match('Array'))
                -for(var i=0,len=footerInfo.length;i<len;i++)
                    div.col-md-4
                        address
                            strong #{footerInfo[i].title}
                            br
                            -for(var j=0,len1=footerInfo[i].linkArray.length;j<len1;j++)
                                br
                                -if(footerInfo[i].linkArray[j].href==="")
                                    span #{footerInfo[i].linkArray[j].text}
                                -else
                                    span
                                        a(href="#{footerInfo[i].linkArray[j].href}") #{footerInfo[i].linkArray[j].text}
        div.row.visible-xs.visible-sm.footer.text-muted
            -if(footerInfo && footerInfo.constructor.toString().match('Array'))
                -for(var i=0,len=footerInfo.length;i<len;i++)
                    div.col-md-4
                        address
                            strong #{footerInfo[i].title}
                            br
                            br
                            -for(var j=0,len1=footerInfo[i].linkArray.length;j<len1;j++)
                                -if(i!==len-1)
                                    -if(footerInfo[i].linkArray[j].href==="")
                                        button.btn.btn-default(type="button") #{footerInfo[i].linkArray[j].text}
                                    -else
                                        a.btn.btn-default(href="#{footerInfo[i].linkArray[j].href}") #{footerInfo[i].linkArray[j].text}
                                -else
                                    p #{footerInfo[i].linkArray[j].text}
script(src="#{siteUrl}js/app/statistics.js")
