div#console_sidebar.col-md-2
    div.list-group
        a.list-group-item.applink.active(href="#")
            span.fa.fa-align-justify
            span.list-group-name 概述
        -for appItem in apps
            a.list-group-item.applink(class="applink-#{appItem.name}",href="#{siteUrl}#{appItem.path}/console")
                span.fa(class="#{appItem.ico}")
                span.list-group-name #{appItem.cnName}
        //a.list-group-item.applink.applink-blog(href="#{siteUrl}blog/console")
        //    span.fa.fa-leaf
        //    span.list-group-name 博客
        //a.list-group-item.applink.applink-notice(href="#{siteUrl}notice/console")
        //    span.fa.fa-envelope
        //    span.list-group-name 消息
        //a.list-group-item.applink.applink-statistic(href="#{siteUrl}statistics/console")
        //    span.fa.fa-bell
        //    span.list-group-name 统计
