doctype html
html(ng-app,lamg="zh")
    head
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/todc-bootstrap.min.css')
        //link(rel='stylesheet', href='/css/flat-ui.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/font/iconfont.css')
        link(rel='stylesheet',href='/css/dropzone.css')
        link(rel='stylesheet',href='/css/summernote.css')
        link(rel='stylesheet', href='/css/basic.css')
        link(rel='stylesheet', href='/css/basic_console.css')
        -var css = String(cssfile).split(',')
        if(cssfile!=="" && jsfile!==cssfile && cssfile!==undefined)
            each item in css
                link(rel='stylesheet', href='#{siteUrl}css/app/'+item)
        script.
            var siteUrl = '#{siteUrl}',
                app = '#{app}',
                loadTime_Start = new Date();
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.js')
        script(src='/js/dropzone.min.js')
        script(src='/js/ajaxfileupload.js')
        script(src='/js/masonry.pkgd.min.js')
        script(src='/js/summernote.js')
        script(src='/js/summernote-zh-CN.js')
        script(src='/js/basic.js')
        script(src='/js/main.js')
        -var j = String(jsfile).split(',')
        if(jsfile!=="" && jsfile!==undefind)
            each item in j
                script(src='#{siteUrl}js/app/'+item)
        //- 获取app信息
        -for(var i=0,len=apps.length;i<len;i++)
            -if(apps[i].name===app)
                -var appInfo=apps[i]
    body
        include header_console
        div#console_main
            div.container
                include nav
                block content
        script(src="/js/markdown.js")
        script(src="/js/Chart.min.js")
        script(src="/js/basic_console.js")
        include footer_console