nav.navbar.navbar-default.navbar-toolbar#console-appnav(role="navigation")
    div.container
        div.navbar-header
            button#console-nav-menubtn.navbar-toggle.fa.fa-navicon(type="button",data-toggle="collapse",data-target="#console-appnav-collapse")
            a.span.fa.fa-navicon#console-sidebar-menubtn(href="javascript:;")
            a.navbar-brand(href="#",style="font-size:14px;") #{apps[app].cnName}
        div.collapse.navbar-collapse#console-appnav-collapse
            ul.nav.navbar-nav
                -if(consoleNav!==undefined)
                    -for navItem in consoleNav
                        -if(navItem.path===consoleNavActive && app!=='index')
                            li.active
                                a(href="#{siteUrl}#{app}/console/#{navItem.path}") #{navItem.name}
                        -else if(navItem.path!==consoleNavActive && app!=='index')
                            li
                                a(href="#{siteUrl}#{app}/console/#{navItem.path}") #{navItem.name}
                        -else if(navItem.path===consoleNavActive && app==='index')
                            li.active
                                a(href="#{siteUrl}console/#{navItem.path}") #{navItem.name}
                        -else
                            li
                                a(href="#{siteUrl}console/#{navItem.path}") #{navItem.name}