nav.navbar.navbar-default#console-appnav(role="navigation")
    div.container
        div.navbar-header
            button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbar-collapse-01")
            a.span.fa.fa-navicon#console-sidebar-menubtn(href="javascript:;")
            a.navbar-brand(href="#") #{appInfo.cnName}
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                -if(consoleNav!==undefined)
                    -for navItem in consoleNav
                        -if(navItem.path===consoleNavActive)
                            li.active
                                a(href="#{siteUrl}#{app}/console/#{navItem.path}") #{navItem.name}
                        -else
                            li
                                a(href="#{siteUrl}#{app}/console/#{navItem.path}") #{navItem.name}
            form.navbar-form.navbar-right(action="#",role="search")
                div.form-group
                    div.input-group
                        input.form-control(type="search",placeholder="搜索")
                        span.input-group-btn
                            button.btn(type="button")
                                span.fui-search







