nav.navbar.navbar-default.navbar-toolbar#console-appnav(role="navigation")
    div.container
        div.navbar-header
            button#console-nav-menubtn.navbar-toggle.iconfont.icon-more(type="button",data-toggle="collapse",data-target="#console-appnav-collapse")
            a.span.iconfont.icon-cascades#console-sidebar-menubtn(href="javascript:;")
            a.navbar-brand.tip(href="#{siteUrl}#{apps[app].path}",style="font-size:14px;",data-toggle="tooltip",data-placement="bottom",title="点击查看前台页面",target="_blank") #{apps[app].cnName}
        div.collapse.navbar-collapse#console-appnav-collapse
            ul.nav.navbar-nav
                -if(consoleNav!==undefined)
                    -for navItem in consoleNav
                        -if(navItem.path===consoleNavActive && app!=='index')
                            li.active
                                a(href="#{siteUrl}#{app}/console/#{navItem.path}") #{navItem.name}
                        -else if(navItem.path!==consoleNavActive && app!=='index')
                            li
                                a(href="#{siteUrl}#{app}/console/#{navItem.path}") #{navItem.name}
                        -else if(navItem.path===consoleNavActive && app==='index')
                            li.active
                                a(href="#{siteUrl}console/#{navItem.path}") #{navItem.name}
                        -else
                            li
                                a(href="#{siteUrl}console/#{navItem.path}") #{navItem.name}