-if(pageCount>1)
    script.
        console.log('#{pageCount}');
    div(style="margin:0;")
        ul.pagination(style="margin:0;")
            -if(Number(pageNow)===1)
                li.previous
                    a.fa.fa-home(href="#")
            -else
                li.previous
                    a.fa.fa-chevron-left(href="#{pageUrl}#{pageNow-1}") &nbsp;&nbsp;上一页
            -if(pageCount>pagerLen)
                -var pageListStart=Math.floor(pageNow/pagerLen)*pagerLen,pageNowIndex = pageNow-pageListStart,pagebeforCache=0,pageAdded=0;
                -if(pageListStart+pagerLen>pageCount)
                    -if(pageNowIndex===0)
                        -pagebeforCache=pageListStart+pagerLen-pageCount-2
                    -else if(pageNowIndex===1)
                        -pagebeforCache=pageListStart+pagerLen-pageCount-1
                    -else
                        -pagebeforCache=pageListStart+pagerLen-pageCount
                    -pageAdded = pageAdded + pagebeforCache
                    -for(var i=0;i<pagebeforCache;i++)
                        li
                            a(href="#{pageUrl}#{pageListStart-(pageListStart+pagerLen-pageCount-1)+i}") #{pageListStart-(pageListStart+pagerLen-pageCount-1)+i}
                -if(pageNowIndex===1 && pageNow!=1)
                    -pagerLen-=1
                    -pageAdded++
                    li
                        a(href="#{pageUrl}#{pageListStart}") #{pageListStart}

                -else if(pageNowIndex===0 && pageNow!=1)
                    -pagerLen-=2
                    -pageAdded+=2
                    li
                        a(href="#{pageUrl}#{pageListStart-1}") #{pageListStart-1}
                    li.active
                        a(href="#{pageUrl}#{pageListStart}") #{pageListStart}
                -for(var i=1;i<pagerLen+1;i++)
                    -if(i+pageListStart<=pageCount)
                        -pageAdded++
                        -if(i===pageNowIndex)
                            li.active
                                a(href="#{pageUrl}#{pageListStart+i}") #{i+pageListStart}
                        -else
                            li
                                a(href="#{pageUrl}#{pageListStart+i}") #{i+pageListStart}
            -else
                -var pageListStart=Math.floor(pageNow/limitPerPage),pageNowIndex = pageNow;
                -for(var i=1;i<pageCount+1;i++)
                    -if(i==pageNowIndex)
                        li.active
                            a(href="#{pageUrl}#{i}") #{i}
                    -else
                        li
                            a(href="#{pageUrl}#{i}") #{i}
            -if(pageNow<pageCount)
                li.next
                    a(href="#{pageUrl}#{pageNow+1}")
                        span 下一页&nbsp;&nbsp;
                        span.fa.fa-chevron-right
            -else
                li.next
                    a 到头了