extends ../../layout_console

block content
    table.table.table-striped.table-hover
        thead
            tr
                th
                    //label.checkbox
                    input.thead-checkbox(type="checkbox",value="all",data-toggle="checkbox")
                th 编号
                th 品牌
                th.hidden-xs.hidden-sm 产地
                th 颜色
                th 图案
                th.hidden-xs.hidden-sm 克重
                th.hidden-xs.hidden-sm 纱支
                th.hidden-xs.hidden-sm 价格
                th 查看
                th 编辑
        tbody#cloth-consolelisttable
            -for(var i=0,len=clothData.length;i<len;i++)
                tr(data-id="#{clothData[i]._id}")
                    td
                        input(type="checkbox",value=" ",data-toggle="checkbox",data-id="#{clothData[i]._id}")
                    td #{clothData[i].codeNumber}
                    td #{clothData[i].brand}
                    td.hidden-xs.hidden-sm #{clothData[i].originPlace}
                    td #{clothData[i].color}
                    td #{clothData[i].pattern}
                    td.hidden-xs.hidden-sm #{clothData[i].weight}
                    td.hidden-xs.hidden-sm #{clothData[i].yarnCount}
                    td.hidden-xs.hidden-sm #{clothData[i].price}
                    td.cloth-console-preivew
                        a(href="#{siteUrl}#{app}/detail/#{clothData[i]._id}",target="_blank")
                            span.fa.fa-eye
                    td
                        a(href="#{siteUrl}#{app}/console/edit/#{clothData[i]._id}")
                            span.fa.fa-edit




    div.row
        div.col-md-4
            button.btn.btn-default#cloth-delete-btn(type="button")
                span.fa.fa-trash-o &nbsp;&nbsp;删除选中
            a.btn.btn-primary(href="#{siteUrl}#{app}/console/add",style="margin-left:4px;")
                span.fa.fa-plus &nbsp;&nbsp;添加面料
        div.col-md-8.text-right
            include ../../pager
