extends ../../layout

block content
    div.container
        h2 #{title}
        table.table.table-striped
            thead
                tr
                    th
                        label.checkbox
                            input.thead-checkbox(type="checkbox",value="all",data-toggle="checkbox")
                    th # 标题
                    th.hidden-xs.hidden-sm # 标签
                    th.hidden-xs.hidden-sm # 创建时间
                    th.hidden-xs.hidden-sm # 最后修改
                    th # 作者
                    th.hidden-xs.hidden-sm # 最后修订
                    th # 版本
            tbody#blog-bloglisttable
                -for blogItem in blogData
                    -var createTime = new Date(blogItem.createTime)
                    -var lastModifyName = '',lastModifyTime=''
                    -if(blogItem.modify.length>0)
                        -lastModifyName = blogItem.modify[blogItem.modify.length-1].name
                        -lastModifyTime = new Date(blogItem.modify[blogItem.modify.length-1].time)
                        -lastModifyTime = lastModifyTime.getFullYear()+'年'+(lastModifyTime.getMonth()+1)+'月'+lastModifyTime.getDate()+'日 '+lastModifyTime.getHours()+':'+lastModifyTime.getMinutes()+':'+lastModifyTime.getSeconds();
                    tr
                        td
                            label.checkbox
                                input(type="checkbox",value="#{blogItem._id}",data-toggle="checkbox")
                        td #{blogItem.title}
                        td.hidden-xs.hidden-sm #{blogItem.tag}
                        td.hidden-xs.hidden-sm #{createTime.getFullYear()}年#{createTime.getMonth()+1}月#{createTime.getDate()}日 #{createTime.getHours()}:#{createTime.getMinutes()}:#{createTime.getSeconds()}
                        td.hidden-xs.hidden-sm #{lastModifyTime}
                        td #{blogItem.author.name}
                        td.hidden-xs.hidden-sm #{lastModifyName}
                        td #{blogItem.version}
        button.btn.btn-default#blog-deleteblogs(type="button")
            span.fa.fa-trash-o &nbsp;&nbsp;删除
        a.btn.btn-primary.pull-right(href="#{siteUrl}#{app}/write")
            span.fa.fa-plus &nbsp;&nbsp;新建
    //- 修改课程学生成员
    div.modal.fade#class-modifystudent(role="dialog",aria-labelledby="class-modifystudent-title",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    h4.modal-title#class-modifystudent-title
                        span "
                        span#class-m-t-name 课程名称
                        span " 的名单
                div.modal-body
                    div.row
                        div.col-md-6
                            p 所有学生
                            select.form-control(multiple)
                                option 111
                                option 222
                            p
                            p
                                button.btn.btn-default.btn-block 添加
                        div.col-md-6
                            p 该课程学生
                            select.form-control(multiple)
                                option 111
                                option 222
                            p
                            p
                                button.btn.btn-default.btn-block 移除
                div.modal-footer(style="margin-top: 0;")
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary.btn-primary-o.mii-ani#class-modify-true(type="button") 修改
