extends ../../layout_console
block content
    div#wechat-console-body.col-md-12
        -if(users.length>0)
            table.table.table-striped.table-hover
                thead
                    tr
                        th 昵称
                        th 邮箱
                        th 地址
                        th 编辑
                tbody
                - for user in users
                    tr(id="userlist-#{user._id}")
                        td.userlist-name #{user.name}
                        td.userlist-mail #{user.mail}
                        td
                            -if(user.address.length>0)
                                span #{user.address[0].province.name} #{user.address[0].areaType.name} #{user.address[0].area.name}
                            -else
                                span 未填写
                        td.user-console-modifyuser(data-id="#{user._id}",data-name="#{user.name}",data-mail="#{user.mail}")
                            span.iconfont.icon-edit
        -else
            br
            h3.text-center 暂无管理员数据