extends ../../layout

block content
    div.container
        h2 #{title}
        ul.nav.nav-tabs#class-student-tabnav(role="tablist")
            li.active
                a(href="#class-studentlist",role="tab",data-toggle="tab") 现有学生
            li
                a(href="#class-userlist",role="tab",data-toggle="tab") 所有会员
            li
                a(href="#class-teacherlist",role="tab",data-toggle="tab") 教师
        div.tab-content
            div.tab-pane.active#class-studentlist
                table.table.table-striped#class-listtable-student
                    thead
                        tr
                            th.class-listtabel-checkbox
                                input(type="checkbox",value="all")
                            th # 姓名
                            th # 参加课程
                            th # 状态
                            th # 编辑
                    tbody#class-liststudent-tbody
                        -for student in studentsData
                            tr
                                td.class-listtabel-checkbox
                                    input(type="checkbox",value="all")
                                td #{student.name}
                                td #{student.course}
                                td #{student.state}
                                td
                                    button.btn.btn-default.btn-xs(type="button") 编辑
                -if(studentsData.length===0)
                    div.col-md-12#classlist-noclass
                        h2 暂无学生成员
            div.tab-pane#class-userlist
                table.table.table-striped#class-listtable-user
                    thead
                        tr
                            th.class-listtabel-checkbox
                                input(type="checkbox",value="all")
                            th # 姓名
                            th # 状态
                    tbody#class-listuser-tbody
                        -for user in userData
                            tr
                                td.class-listtabel-checkbox
                                    input.class-listtabel-checkbox-item(type="checkbox",value="#{user._id}")
                                td #{user.name}
                                td
                                    //- 显示用户身份状态
                                    -var usState = ""
                                    -for us in userStudentData
                                        -if(us.uid==user._id)
                                            -usState = us.state
                                    -if(usState==="")
                                        span.text-muted.fa.fa-times &nbsp;&nbsp;校外
                                    -else
                                        span.text-success.fa.fa-mortar-board &nbsp;&nbsp;#{usState}

                div.col-md-12.row
                    button.btn.btn-default#class-add-user2student(type="button")
                        span.fa.fa-plus &nbsp;&nbsp;添加学生身份
                    button.btn.btn-default#class-remove-user2student(type="button")
                        span.fa.fa-minus &nbsp;&nbsp;移除学生身份
            div.tab-pane#class-teacherlist
                div.col-md-6.row(style="margin-top:15px;")
                    div.input-group
                        input.form-control(type="text")
                        span.input-group-btn
                            button.btn.btn-default(type="button") 搜索
    //- 修改课程学生成员
    div.modal.fade#class-modifystudent(role="dialog",aria-labelledby="class-modifystudent-title",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    h4.modal-title#class-modifystudent-title
                        span "
                        span#class-m-t-name 课程名称
                        span " 的名单
                div.modal-body
                    div.row
                        div.col-md-6
                            p 所有学生
                            select.form-control(multiple)
                                option 111
                                option 222
                            p
                            p
                                button.btn.btn-default.btn-block 添加
                        div.col-md-6
                            p 该课程学生
                            select.form-control(multiple)
                                option 111
                                option 222
                            p
                            p
                                button.btn.btn-default.btn-block 移除
                div.modal-footer(style="margin-top: 0;")
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary.btn-primary-o.mii-ani#class-modify-true(type="button") 修改
    //- 移除用户学生权限确认框
    div.modal.fade#class-removeusertostudent(role="dialog",aria-labelledby="class-removeusertostudent-title",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    h4.modal-title#class-removeusertostudent-title 删除学生身份
                div.modal-body
                    p 一旦删除学生身份，被删除学生的数据将不可恢复，是否继续？
                div.modal-footer(style="margin-top: 0;")
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary.btn-primary-o.mii-ani#class-removeusertostudent-true(type="button") 继续删除
    script(src="#{siteUrl}js/bootstrap-datepicker.js")
    script(src="#{siteUrl}js/locales/bootstrap-datepicker.zh-CN.js")
