extends ../../layout

block content
    div.container
        h2 #{title}
        ul.nav.nav-tabs#class-student-tabnav(role="tablist")
            li.active
                a(href="#class-studentlist",role="tab",data-toggle="tab") 现有学生
            li
                a(href="#class-userlist",role="tab",data-toggle="tab") 所有会员
        div.tab-content
            div.tab-pane.active#class-studentlist
                table.table.table-striped#class-listtable-student
                    thead
                        tr
                            th.class-listtabel-checkbox
                                input(type="checkbox",value="all")
                            th # 姓名
                            th # 参加课程
                            th # 状态
                    tbody#class-liststudent-tbody
                -if(studentsData.length===0)
                    div.col-md-12#classlist-noclass
                        h2 暂无学生成员
                div.col-md-12.row
                    button.btn.btn-default(type="button",data-toggle="modal",data-target="#class-addclass")
                        span.fa.fa-plus &nbsp;&nbsp;添加课程
            div.tab-pane#class-userlist
                table.table.table-striped#class-listtable-user
                    thead
                        tr
                            th.class-listtabel-checkbox
                                input(type="checkbox",value="all")
                            th # 姓名
                            th # 状态
                    tbody#class-listuser-tbody
                        -for user in userData
                            tr
                                td.class-listtabel-checkbox
                                    input.class-listtabel-checkbox-item(type="checkbox",value="#{user._id}")
                                td #{user.name}
                                td
                                    //- 显示用户身份状态
                                    -var usState = ""
                                    -for us in userStudentData
                                        -if(us._id==user._id)
                                            -usState = us.state
                                    -if(usState==="")
                                        span.fa.fa-times &nbsp;&nbsp;校外
                                    -else
                                        span.fa-mortar-board &nbsp;&nbsp;#{usState}

                div.col-md-12.row
                    button.btn.btn-default#class-add-user2student(type="button")
                        span.fa.fa-plus &nbsp;&nbsp;添加学生身份
                    button.btn.btn-default(type="button")
                        span.fa.fa-minus &nbsp;&nbsp;移除学生身份

    //- 添加课程模态框
    div.modal.fade#class-addclass(role="dialog",aria-labelledby="class-addclass-title",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    h4.modal-title#class-addclass-title 添加课程
                div.modal-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.col-xs-2.control-label(for="name") 名称
                            div.col-xs-10
                                input.form-control#class-add-name(type="text",name="name",value="")
                        div.form-group
                            label.col-xs-2.control-label(for="intro") 简介
                            div.col-xs-10
                                textarea.form-control#class-add-intro(rows="12",name="intro")
                        div.form-group
                            label.col-xs-2.control-label(for="starttime") 开始
                            div.col-xs-10
                                input.form-control.class-add-time#class-add-starttime(type="text")
                        div.form-group
                            label.col-xs-2.control-label(for="endtime") 结束
                            div.col-xs-10
                                input.form-control.class-add-time#class-add-endtime(type="text")
                div.modal-footer(style="margin-top: 0;")
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary.btn-primary-o.mii-ani#class-addclass-true(type="button") 修改
    //- 修改课程模态框
    div.modal.fade#class-modify(role="dialog",aria-labelledby="class-modify-title",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    h4.modal-title#class-modify-title 修改课程
                div.modal-body
                    form.form-horizontal#class-modify-form(role="form")
                        div.form-group
                            label.col-xs-2.control-label(for="name") 名称
                            div.col-xs-10
                                input.form-control#class-modify-name(type="text",name="name",value="")
                        div.form-group
                            label.col-xs-2.control-label(for="intro") 简介
                            div.col-xs-10
                                textarea.form-control#class-modify-intro(rows="12",name="intro")
                        div.form-group
                            label.col-xs-2.control-label(for="starttime") 开始
                            div.col-xs-10
                                input.form-control.class-modify-time#class-modify-starttime(type="text")
                        div.form-group
                            label.col-xs-2.control-label(for="endtime") 结束
                            div.col-xs-10
                                input.form-control.class-modify-time#class-modify-endtime(type="text")
                    div#class-modify-loading
                        span.fa.fa-spin.fa-spinner
                div.modal-footer(style="margin-top: 0;")
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary.btn-primary-o.mii-ani#class-modify-true(type="button") 修改
    //- 修改课程学生成员
    div.modal.fade#class-modifystudent(role="dialog",aria-labelledby="class-modifystudent-title",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    h4.modal-title#class-modifystudent-title
                        span "
                        span#class-m-t-name 课程名称
                        span " 的名单
                div.modal-body
                    div.row
                        div.col-md-6
                            p 所有学生
                            select.form-control(multiple)
                                option 111
                                option 222
                            p
                            p
                                button.btn.btn-default.btn-block 添加
                        div.col-md-6
                            p 该课程学生
                            select.form-control(multiple)
                                option 111
                                option 222
                            p
                            p
                                button.btn.btn-default.btn-block 移除
                div.modal-footer(style="margin-top: 0;")
                    button.btn.btn-default(type="button",data-dismiss="modal") 取消
                    button.btn.btn-primary.btn-primary-o.mii-ani#class-modify-true(type="button") 修改
    script(src="#{siteUrl}js/bootstrap-datepicker.js")
    script(src="#{siteUrl}js/locales/bootstrap-datepicker.zh-CN.js")
