extends ../layout

block content
    div.container
        div.row
            div.col-md-3.hidden-sm.hidden-xs#blog-sidebar
                include sidebar
            div.col-md-9
                div.row
                    div.col-md-12#blog-main
                        a(href="#")
                            h3
                                span #{blogData.info.title}
                                -if(blogData.isMyArticle===true)
                                    a.btn.btn-default.pull-right(href="#{siteUrl}#{app}/edit/#{blogData.info._id}") 编辑
                                -else if(blogData.hasRevisePermission===true)
                                    a.btn.btn-default.pull-right(href="#{siteUrl}#{app}/edit/#{blogData.info._id}") 修订
                        hr
                        article!= blogData.content
                        p
                        //button#getshareurl.btn.btn-primary(type="button",data-id="#{blogData.info.id}") 分享
                        hr
                        div.text-muted.blog-userinfo
                            span 标签：
                            -for(var i=0,len=blogData.info.tag.length;i<len;i++)
                                a(href="#{siteUrl}#{app}/search/tag/#{blogData.info.tag[i]}") #{blogData.info.tag[i]}
                                -if(i!==len-1)
                                    span ,
                            span.pull-right.hidden-xs
                                a(href="#{siteUrl}#{app}/search/author/#{blogData.info.author.name}") #{blogData.info.author.name}
                            span.pull-right.hidden-xs 作者：
                            p.visible-xs(style="margin-bottom: 0;")
                                span 作者：
                                span
                                    a(href="#{siteUrl}#{app}/search/author/#{blogData.info.author.name}") #{blogData.info.author.name}
                        hr
                        div.row
                            //div.col-md-2
                                -if(pageNow>1)
                                    a.btn.btn-default.pull-left(href="#{pageUrl}#{pageNow-1}")
                                        span.fa.fa-arrow-left
                                        span &nbsp;&nbsp; 上一页
                            div.col-md-8.text-center.col-md-offset-2
                                include ../pager
                            //div.col-md-2
                                -if(pageNow<pageCount)
                                    //#blog-readmore
                                    a.btn.btn-primary.pull-right(href="#{pageUrl}#{pageNow+1}")
                                        span 下一页&nbsp;&nbsp;
                                        span.fa.fa-arrow-right
                        //-div.row
                            div.col-md-12#comment-box
                                h6 评论
                                form(role="form",data-app="#{app}",data-apppageid="#{blogData.info._id}")
                                    div.form-group
                                        textarea.form-control#comment-content(placeholder="评论内容...",name="content")
                                    div.form-group
                                        a.btn.btn-primary.pull-right#comment-submit 提交
                            div.col-md-12#comment-list(data-url="#{siteUrl}comment/api/list/#{app}/#{blogData.info._id}/")