extends ../layout

block content
    div.container
        div.row
            div.col-md-9
                div.row
                    div.col-md-12#blog-main
                        a(href="#")
                            h6= blogData.info.title
                        hr
                        article!= blogData.content
                        div.row
                            div.col-md-3
                                -if(pageNow>1)
                                    a.btn.btn-default.pull-left(href="#{pageUrl}#{pageNow-1}")
                                        span.fa.fa-arrow-left
                                        span &nbsp;&nbsp; 上一页
                            div.col-md-6.text-center
                                include ../pager
                            div.col-md-3
                                -if(pageNow<pageCount)
                                    //#blog-readmore
                                    a.btn.btn-primary.pull-right(href="#{pageUrl}#{pageNow+1}")
                                        span 下一页&nbsp;&nbsp;
                                        span.fa.fa-arrow-right
                        p
                        //button#getshareurl.btn.btn-primary(type="button",data-id="#{blogData.info.id}") 分享
                        hr
                        div.text-muted.blog-userinfo
                            span 标签：#{blogData.info.tag} &nbsp;&nbsp;
                            -if(blogData.isMyArticle===true)
                                a.btn.btn-default.btn-xs(href="#{siteUrl}#{app}/edit/#{blogData.info._id}") 编辑
                            -else if(blogData.hasRevisePermission===true)
                                a.btn.btn-default.btn-xs(href="#{siteUrl}#{app}/edit/#{blogData.info._id}") 修订
                            span.pull-right 作者：#{blogData.info.author.name}

                        div.row
                            div.col-md-12#comment-box
                                h6 评论
                                form(role="form",data-app="#{app}",data-apppageid="#{blogData.info._id}")
                                    div.form-group
                                        textarea.form-control#comment-content(placeholder="评论内容...",name="content")
                                    div.form-group
                                        a.btn.btn-primary.pull-right#comment-submit 提交
                            div.col-md-12#comment-list(data-url="#{siteUrl}comment/api/list/#{app}/#{blogData.info._id}/")

            div.col-md-3.hidden-sm.hidden-xs#blog-sidebar
                div.blog-sidebar-item
                    div.form-group
                        div.input-group
                            input.form-control(type="text",style="border-right: 0;")
                            span.input-group-btn
                                button.btn(type="submit")
                                    span.fui-search
                div.panel.panel-default
                    div.panel-heading 管理选项
                    div.panel-body


