extends ../layout

block content
    div.container
        div.col-md-3
            div.row
                input(type="hidden",name="_id",value="#{blogData.info._id}")
                input(type="hidden",name="type",value="#{blogData.info.type}")
                input.form-control.no_border#tag.blog-add-tag-input(type="text",name="tag",placeholder="输入标签，回车添加 ")
                div#tagbox(style="margin-top:15px;")
                    -for(var i=0;i<blogData.info.tag.length;i++)
                        -if(!/^\s*$/.test(blogData.info.tag[i]))
                            a.btn.btn-default.blog-tags.mii-ani
                                span #{blogData.info.tag[i]}
                                span.fa.fa-times.mii-ani

        div.col-md-9
            input.form-control#blog-editblog-title(type="text",name="title",placeholder="日志标题",value="#{blogData.info.title}")
            hr
            div#blog-edit-content
                div.summernote !{blogData.content}
            hr
            button.btn.btn-primary#blog-save 保存修改
