extends ../layout

block content
    div.container
        div.row
            div.col-md-9.row#blog-main
                -for(var i=0;i<blogData.length;i++)
                    div.col-md-12
                        a(href="#{siteUrl}blog/detail/#{blogData[i]._id}")
                            h4= blogData[i].title
                        article!= blogData[i].content
                        div.blog-userinfo= blogData[i].author.name
                        hr
            div.col-md-3#blog-sidebar
                div.blog-sidebar-item
                    div.form-group
                        div.input-group
                            input.form-control(type="text",style="border-right: 0;")
                            span.input-group-btn
                                button.btn(type="submit")
                                    span.fui-search