extends ../layout

block content
    div.container
        div.row
            div.col-md-9#blog-main
                -if(blogData.length>0)
                    -for(var i=0;i<blogData.length;i++)
                        div.col-md-12.row
                            a(href="#{siteUrl}blog/detail/#{blogData[i]._id}")
                                h3= blogData[i].title
                            hr
                            article!= blogData[i].content
                            div.blog-userinfo.text-right.text-muted
                                span 作者：
                                span
                                    a(href="#{siteUrl}#{app}/search/author/#{blogData[i].author.name}") #{blogData[i].author.name}
                            br
                -else
                    div.jumbotron
                        h2 没有文章
                        p 可能作者还没有开放可供阅读的内容，或者还没有添加。
                div.col-md-12.row
                    hr
                    div.col-md-8.col-md-offset-2.text-center
                        include ../pager
            div.col-md-3.hidden-sm.hidden-xs#blog-sidebar
                include sidebar